body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 79%); 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.main-container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    border: 1px solid black;
    overflow-y: scroll;
    height: 100%;
    margin-top: 45px;
    margin-bottom: 100px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
}
ul{
    padding-left: 0;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}
textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    border: 2px solid black;
    font-size: 2rem;
}
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.output {
    margin-top: 20px;
}
.output pre {
    background: #2d2d2d; /* Dark background */
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    position: relative;
}
.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #0056b3;
}
.search-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.answer {
    background-color: transparent;
    height: 100%;
    background-color: red;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid black;
}
.answer:hover {
    background-color: rgb(235, 33, 33);
}

@media (max-width: 572px) {
    .container {
        margin-top: 0;
        margin-bottom: 80px;
        border-radius: 0;
    }
    .main-container-history {
        height: 100%;
        margin-bottom: 0;
    }
    
    .search-container {
        background-color: #fff;
    }
    .container-history{
        margin-top:0;
        margin-bottom:0;
    }
    
    @media (prefers-color-scheme: dark) {
        .search-container{
            background-color: #1e1e1e;
        }
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(0,212,255);
        background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(30,28,60,1) 100%, rgba(255,255,255,1) 100%, rgba(2,0,36,1) 100%);
        color: #ffffff;
    }
    .container {
        background: #1e1e1e;
        color: #ffffff;
    }
    h1 {
        color: #ffffff;
    }
    textarea {
        background: #333;
        color: #fff;
        border: 1px solid #555;
    }
    .navbar {
        background-color: #1e1e1e;
        color: #ffffff;
    }
    .output pre {
        background: #2d2d2d; /* Dark background */
    }
    
}
.main-container-history{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-history{
    margin-top:0;
    margin-bottom: 0;
}

